/* global section */
* { box-sizing: border-box }

:root {
	--prim: #eaeab2;
	--sec: #A98546;
	--line: darkblue;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

/* header section */

/* main section */

.main {
	margin: 3rem auto;
	min-height: calc(100vh - 6rem);
	width: 90%;
	background: var(--prim);
	box-shadow: 6px 6px 3px 0px var(--sec);
}

.main-header > h1 {
	font-size: 3rem;
	padding: 2rem;
	text-align: center;
	border-bottom: 2px solid var(--line);
}

@media (orientation: landscape) {
	.main {
		width: 50%;
	}
}

/* footer section */
