/* global section */
* { box-sizing: border-box }

:root {
	--prim: #eaeab2;
	--sec: #A98546;
	--line: darkblue;
}

h1 {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', cursive;
}

/* header section */

/* main section */

.main {
	margin: 3rem auto;
	min-height: calc(100vh - 6rem);
	width: 90%;
	background: var(--prim);
	box-shadow: 6px 6px 3px 0px var(--sec);
}

.main-header > h1 {
	font-size: 3rem;
	padding: 2rem;
	text-align: center;
	border-bottom: 2px solid var(--line);
}

@media (orientation: landscape) {
	.main {
		width: 50%;
	}
}

.todo-item {
	border-bottom: 2px solid var(--line);
}
.todo-adder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	margin: 0;
}

.todo-adder > input {
	line-height: 2rem;
}

.todo-adder > button {
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	font-weight: bold;
	background: var(--sec);
	border: 1px solid black;
}

.todo-adder > button:hover {
	filter: grayscale(20%);
}

.todo-adder > button:active {
	filter: grayscale(30%);
	border: 1px solid darkgray;
}

/* footer section */
